/* Reset */
body {
  font-family: Arial, sans-serif;
  padding: 20px;
}
 
/* display none vs hidden */

.none-el {
  display: none;
}

.hidden-el {
  visibility: hidden;
}


/* Block → Inline */

.inline-text {
  display: inline;
  background: lightgreen;
  padding: 5px;
}


/* Inline → Block */

a {
  display: block;
  margin: 5px 0;
  color: white;
  background: teal;
  padding: 10px;
  text-decoration: none;
}

/* Inline-Block Example */

.btn {
  display: inline-block;
  background: orange;
  color: white;
  padding: 10px 20px;
  margin: 20px 10px;
  text-decoration: none;

  width: 150px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
}