/* GLOBAL STYLES */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    text-align: center;
}


/* FONT PROPERTIES */

h2 {
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
}


/* TEXT PROPERTIES */

p {
    letter-spacing: 1px;
    word-spacing: 3px;
    text-indent: 20px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}