body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1050px;
  margin: 25px auto;
  background: #f4f4f4;
}

.item {
  background-color: coral;
  padding: 1rem;
  border: 1px solid #333;
  text-align: center;
}

.grid-box {
  display: grid;

  /* repeat(count, size) creates equal columns */
  /* minmax(min, max) sets flexible column size */
  grid-template-columns: repeat(3, minmax(200px, 1fr));
}